
/*Denne CSS side er til for at kunne style #anbefalinger1. Der er noget i det fællesstylesheet der blokerede det jeg ville. Jeg lede ihærdigt for at finde fejlen, men kunne ikke finde den... Desværre*/
/*Dette var den næstbedste løsning jeg kunne komme på*/

#anbefalinger1{ /*#anbefalinger*/
    margin-top: 15%;
    width: 100%;
    display: flex;
    padding: 2rem;
}

#anbefalinger1 section h2, #anbefalinger section h2{
    font-size: 1.5rem;
}

#anbefalinger1 div, #anbefalinger div{
    display: flex;
}

#anbefalinger1 img, #anbefalinger img{
    width: 100%;
    padding: 1rem;
}

.apil{
    display: flex;
    width: 10%;
    padding-top: 8rem;
    height: 15%;
}

#anbefalingsknap{
    display: none;
    border: #06550c solid 2px;
    border-radius: 15rem;
    justify-content: center;
    width: 100%;
}

#anbefalingsknap a{
    display: none;
    color: #06550c;
    text-decoration: none;
    padding: 1rem 1rem;
    font-family: 'InterRegular', sans-serif; 
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
}

.vinkort{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.vinkort img{
    width: 100%;
    object-fit: cover;
}

.vininfo{
    width: 88%;
    height: 89%;
    padding: 2rem;
    margin-left: 1rem;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 1rem;
    text-align: center;
    border: 2px solid #06550c;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.vininfo h3{
    padding-bottom: 2rem;
    align-items: flex-start;
    font-size: 1rem;
    color:#06550c
}

.vininfo p{
    width: 100%;
}

.vininfo a{
    padding-top: 20%;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: #06550c;
    font-family: 'InterBold';
}


.vininfo:hover{
    transition: transform 0.3s ease;
    transform: scale(1.03);
    opacity: 1;
}


@media screen and (max-width:600px) {
    #anbefalinger1{
        flex-direction: column;
        margin-top: 10%;
    }

    .apil{
        display: none;
        width: 0%;
        height: 0%;
    }

    #anbefalingsknap{
        display: block;
        width: 40%;
        margin-left: 60%;
    }
    
    #anbefalingsknap a{
        display: block;
        align-items: center;
        text-align: center;
    }
    
    #container{
        overflow-x: auto;
        margin: 0;
        padding: 0;
        white-space: wrap;
        scroll-behavior: smooth;
        overflow-y: hidden;
        width: 100%;
        justify-content: space-evenly;
        scrollbar-color: #016b08 #ffffff;
    }
    
    .vininfo{
        margin: 0;
        padding: 0;
        width: 1%;
        height: 1%;
    }
    
    .vinkort{
        width: 50%;
        flex: 0 0 auto;      
    }

    .vinkort img{
        width: 100%;
        height: 100%;
    }

    .vininfo:hover{
        opacity: 0;
    }
    
}
