*{
    margin: 0;
}
h2{
    font-size: 1rem;
    margin: 1rem 0;
}


                                        /*Header*/



#fragt{
    width: 100%;
    background-color: #06550c;
    /*background-color: #4373cd;*/

    height: 40px;
    font-family: 'InterRegular', sans-serif;
    font-size: 12px;
}

#fragt a{
    color: white;
    text-decoration: none;
}
header{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #F8eee1; /*header baggrundsfarven*/
    position: sticky; /*headeren er sticky*/
    top: 0; /*ikke noget whitespace mellem header og toppen af siden*/
    justify-content: center;
    z-index: 10; 
}
#laptopnav{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 3rem;
    padding-left: 9%;
    padding-right: 1%;
    width: 100%;

}



header img{
    margin: 0px;
    padding: 0px;
    width: 30px
}

header div img{
    width: 35%;
    top: 0;
    margin-left: 60px;
    margin-right: 70px;
    
}

header a{
    color: black;
    text-decoration: none;
    
    font-size: 16px;
    font-weight: bold;
    
}

header a:hover{
    text-shadow: 2px 4px 4px #746441; /* Shadow effect on hover */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

/* Style for the dropdown container */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    justify-content: center;

}

/* Style for the dropdown link */
nav .dropdown:hover .dropdown-content {
    display: block;
}


/* Skjul dropdown menuen som default *//*
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FCB9B5;
    min-width: 160px;
    z-index: 4;
}
*/





                                    
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav a {
    text-decoration: none;
    
    display: block;
}
.logo{
    display: flex;
}
.logo a{
    flex-direction: column;
    text-align: center;
    
}

/* Style for the dropdown link */
nav .dropdown:hover .dropdown-content {
    display: block;
}

/* Skjul dropdown menuen som default */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 4;
}

nav .dropdown-content li {
    display: block;
    text-align: left;
}

nav .dropdown-content li a {
    padding: 8px 16px;
}







/**/


footer{
    display: flex;
    flex-direction: row;
    background-color: #f8eee1;
    width: 100%;
    padding: 30px 10px 30px 100px;
    color:#835332;
    justify-content: center;
    margin-top: 5rem;
}

footer div{
    display: flex;
    gap: 30px;
}
footer section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 50%;
    line-height: 15px;
    
}


footer a, footer p{
    color:#000000;
    font-size: 15px;
    font-family: 'InterRegular', sans-serif;

}
footer h2{
    font-size: 1.1rem;
}

#socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}
#socialmedia img{
    width: 70%;
}

#økomærker{
    width: 100%;
    padding-top: 15%;
    padding-left: 20%;
}

#økomærker img{
    display: flex;
    width: 25%;
   
    flex-direction: row;
    aspect-ratio: 3/2;
    object-fit: contain;    
}
