*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 1rem;
    margin: 1rem 0;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.forsidevideo{
    top: 10;
}









.vphero img{
    width: 100%;
}


.afsnit{
    background-color: #e6f2e7;
}

.afsnit img{
    width: 100%;
}


.gdhero img{
    width: 100%;
}

.afsnitblå{
    background-color: #e2f6fb;
}

.afsnitblå img{
    width: 100%;
}

.vhhero img{
    width: 100%;
}

.bue img{
    width: 100%;
}

.elipselys img{
    width: 100%;
}

.elipselys{
    background-color: #f8eee1;
}

.elipsebeige img{
    width: 100%;
}

.elipsebeige{
    background-color: #e4d4bf;
}

.afsnitgrøn{
    background-color: #e6f2e7;
}
